html,
body {
  margin: 0;
  background-color: #f5f7fb;
}
.app {
  background-image: url(../public/background.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  border: none;
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30%;
  letter-spacing: 3px;
}
.title {
  font-family: "Karla", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 37px;
  text-align: center;

  color: #293264;
  margin-bottom: 0.2em;
}

.descr {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 19px;
  text-align: center;
  margin-bottom: 1.7em;
  color: #293264;
}

.start-btn {
  background: #4d5b9e;
  border-radius: 1em;
  width: 12em;
  height: 3em;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
  color: #f5f7fb;
  border: none;
}
.questions {
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  max-height: 97vh;
  max-width: 100vw;
  box-sizing: border-box;
  border: none;
  margin-top: 1em;
}
.quest {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2em;
  color: #293264;
  margin: 0;
}

.answers {
  display: flex;
  justify-content: space-around;
}

.answer {
  box-sizing: border-box;
  border: 0.794239px solid #4d5b9e;
  border-radius: 7.94239px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3em;
  text-align: center;
  color: #293264;
  padding: 0.3em 1.5em;
  margin: 1em;
  cursor: pointer;
}

.line {
  margin-top: 0.75em;
  width: 90vw;
  border: 0.8px solid #dbdef0;
}
.btn {
  width: 6em;
  height: 2.8em;

  background: #4d5b9e;
  border-radius: 10px;
  margin: 0 auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1em;
  text-align: center;
  cursor: pointer;
  color: #f5f7fb;
  border: none;
  width: 12em;
  margin-top: 1em;
}

.new_game {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80vw;
}

.score {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 15px;
  text-align: center;

  color: #293264;
}
